<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <p-toolbar styleClass="toolbar">
        <p-sidebar [(visible)]="display" *ngIf="display">
            <div class="container-menu-items">
              <hr>
              <div (click)="route.navigateByUrl(routes.url); display = !display" *ngFor="let routes of routesMenu">
                <i [class]="routes.icon"></i>
                <label> {{routes.name}} </label>
              </div>

            </div>
          <!--//todo-ac: controllare breadcrumb-->
        </p-sidebar>
      <i  class="pi pi-bars" id="white-bars" (click)="display=true" *ngIf="!display"></i>


          <img src="./assets/angularLaravelSPA.png" alt="logo-large" (click)="route.navigateByUrl('')">

      <button class="btn btn-danger" (click)="logout()"> Logout</button>
    </p-toolbar>
    <!-- Breadcrumb -->
    <p-breadcrumb [model]="items" [home]="{icon: 'pi pi-home',url: 'dashboard' }"></p-breadcrumb>

    <router-outlet></router-outlet>
  </main>
</div>
