<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <p-toolbar class="ui-toolbar ui-widget-header">
        <p-sidebar [(visible)]="display" *ngIf="display">
          Content
        </p-sidebar>

        <i (click)="display = true" class="pi pi-bars" *ngIf="!display" ></i>

          <img src="./assets/angularLaravelSPA.png" alt="logo-large" (click)="route.navigateByUrl('')">

      <button class="btn btn-danger" (click)="logout()"> Logout</button>
    </p-toolbar>
    <!-- Breadcrumb -->
    <p-breadcrumb [model]="items" [home]="{icon: 'pi pi-home',url: 'dashboard' }"></p-breadcrumb>

    <router-outlet></router-outlet>
  </main>
</div>
