::ng-deep .listbox{
  margin-top: 50px;
  border:none;
}
::ng-deep .toolbar{
  background-color: var(--bs-primary);
  i{
    color: white;
  }
  img{
    height: 40px;
  }

  button{
    color: white;
  }
}
