.container-content{
  a{
    #link{
      color: var(--bs-danger);
    }
  }

  p-dialog {
    image-cropper {
      height: 50vh;
    }
    p-button {
      margin: 10px;
      text-align: center;
    }
  }

  .container-image-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    .cropped-image-row {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px;

      > div {
        width: auto;
        position: relative;

        .cropped-image {
          width: 175px;
          height: 175px;
          border-radius: 50%;
          padding: 0;

        }

        .cancel-add-absolute {
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
  }

  form{
    div{
      label{
        width: 150px;
      }
      input{
        height: 45px;
      }
      #phone.ng-invalid{
        border-left: 1px solid #ced4da;
      }
      #phone.ng-valid{
        border-left: 1px solid #ced4da;
      }
      &.birth-date-container {
         display: flex;
         flex-direction: column;
         align-items: start;
       }
    }
  }


}

