<div class="mt4 col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-3 offset-lg-7 container-content">

  <div>
    <h1> Login </h1> <label> You're not registered? <a (click)="router.navigateByUrl('/signup')"> SignUp </a></label>
  </div>

  <div class="row">
    <form [formGroup]="loginForm">

      <div class=" input-group input-group-sm mb-3">
        <input type="email" class="form-control" id="email"  formControlName="email">
        <label class="input-group-text" for="email"> Email</label>
      </div>

      <div class=" input-group input-group-sm mb-3">
        <input type="password" class="form-control" id="password"  formControlName="password">
        <label class="input-group-text" for="password"> Password</label>
      </div>


    </form>
    <button type="button" class="btn btn-primary" (click)="submit()"> CONFIRM </button>
  </div>

</div>
