
  <div class="row-div">

    <form [formGroup]="searchForm">
      <div class=" input-group input-group-sm mb-3">
        <input type="text" class="form-control" id="search"  formControlName="query" (ngModelChange)="search()">
        <label  class="input-group-text " for="search">Search</label>
      </div>

      <p-selectButton id="type" [options]="chooseType" formControlName="type" styleClass="select-button" (onChange)="search()"></p-selectButton>
    </form>
  </div>
  <div class="container">

    <div *ngIf="searchForm.value.type == 'Post'">
      <div class="card" *ngFor="let post of postList" (click)="route.navigateByUrl('post-list/post-detail/'+post.id)">
        <div class="card-header" [ngClass]="{'row-disabled': post.status === 'D','row-signal': post.status === 'S'}">
          <h4>{{post.title}}</h4>
        </div>
        <div class="card-body">
          <p>{{post.description}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="searchForm.value.type == 'User'">
      <div class="card" *ngFor="let user of userList" (click)="route.navigateByUrl('user-list/detail/'+user.email)">
        <div class="card-header" >
          <img [src]="user.profile_image" [alt]="user.first_name">
          <h4>{{user.first_name}}  {{user.last_name}} </h4>
        </div>
        <div class="card-body">
          <span>{{user.email}}</span>
        </div>
      </div>
    </div>

  </div>


