$theme-colors: (
  "primary": #003b8f,
  "success": #28a745,
  "danger": #e23237,
);

$btn-danger-color: #fff;

$btn-active-bg-shade-amount:      0% !default;
$btn-active-bg-tint-amount:       0% !default;
$btn-active-border-shade-amount:  5% !default;
$btn-active-border-tint-amount:   0% !default;


