<div class="row">

  <div class="col">
    <div class="card">
      <h5>Post per months</h5>
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="50vw" height="50vh"></p-chart>
    </div>
  </div>



  <div class="col">

    <form [formGroup]="searchUserForm">

      <div class=" input-group input-group-sm mb-3 input-group-div" >
        <label>Select The Year</label>

        <p-inputNumber id="year" formControlName="year" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
          spinnerMode="horizontal"  decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" useGrouping max="2021" maxlength="4"
          min="1941"></p-inputNumber>
      </div>

      <div class=" input-group input-group-sm mb-3 input-group-div">
        <label *ngIf="dataRequestFirstUser.length == 0">Search <b>First User</b></label>
        <label *ngIf="dataRequestFirstUser.length != 0 ">Search <b>Second User</b></label>

        <p-autoComplete formControlName="query" id="query" [suggestions]="userList" (completeMethod)="searchUsers()"  field="first_name" (onSelect)="setSelectedUser({id: $event.id, first_name: $event.first_name, profile_image: $event.profile_image})">

          <ng-template let-user pTemplate="item"  class="profile" >
            <div class="profile">
              <img [src]="user.profile_image" />
              <div >{{user.email}}</div>
            </div>

          </ng-template>

        </p-autoComplete>

      </div>

    </form>






    <button class="btn btn-primary" [disabled]="searchUserForm.invalid" (click)="searchAnalythics()">
      Confirm
    </button>


    <hr *ngIf="usersCompared.length!=0">
    <div *ngFor="let user of usersCompared" id="user-compared-list">

      <div>
        <img [src]="user.profile_image" [alt]="user.first_name">
        {{ user.first_name }} - {{user.year}}
      </div>
      <div>
        <b>{{usersCompared.indexOf(user)+1}}/2</b>
        <button class="btn btn-close" [disabled]="usersCompared.length == 2 && usersCompared[0] == user" (click)="deleteElement()"></button>
      </div>
    </div>
    <hr *ngIf="usersCompared.length!=0">

  </div>

</div>
