<div class="row">

  <div class="col">
    <div class="card">
      <h5>Post per months</h5>
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="50vw" height="50vh"></p-chart>
    </div>
  </div>



  <div class="col">

    <form [formGroup]="searchUserForm">

      <div class=" input-group input-group-sm mb-3 input-group-div" >
        <label>Select The Year</label>

        <p-inputNumber id="year" formControlName="year" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
          spinnerMode="horizontal"  decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" useGrouping max="2021"
          min="1941"></p-inputNumber>
      </div>

      <div class=" input-group input-group-sm mb-3 input-group-div">
        <label *ngIf="dataRequestFirstUser.length == 0">Search first User</label>
        <label *ngIf="dataRequestFirstUser.length != 0 ">Search Second User</label>

        <p-autoComplete formControlName="query" id="query" [suggestions]="userList" (completeMethod)="searchUsers()"  field="first_name" (onSelect)="setSelectedUser({id: $event.id, first_name: $event.first_name})">

          <ng-template let-user pTemplate="item"  class="profile" >
            <div class="profile">
              <img [src]="user.profile_image" />
              <div >{{user.email}}</div>
            </div>

          </ng-template>

        </p-autoComplete>

      </div>

    </form>



<!--    <div *ngIf="userList && userList.length>0">-->
<!--      <div class="card "  *ngFor="let user of userList">-->
<!--        <div class="profile" [ngClass]="{'focus':selectedUser.id == user.id }" (click)="setSelectedUser({id: user.id, first_name: user.first_name})">-->
<!--          <img [src]="user.profile_image" [alt]="user.first_name">-->

<!--          <label> {{user.email}} </label>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->


    <button class="btn btn-primary" [disabled]="searchUserForm.invalid" (click)="searchAnalythics()">
      Confirm
    </button>

    <button class="btn btn-primary" (click)="deleteElement()">
      Cancel
    </button>
  </div>

</div>
