.col{

  padding: 30px;

  .card{
    h5{
      margin: 10px 30px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

    p-inputNumber  {
      margin: 20px;

    }
    ::ng-deep .p-inputnumber-input{
      text-align: center;
    }

    #year.ng-valid{
      border-left: none;
    }
    #query.ng-valid{
      border-left: none;
    }
    #query.ng-invalid{
       border-left: none;
     }
  }

  .input-group-div {
    display: flex;
    flex-direction: column;
    align-items: start;

    label {
      margin-bottom: 10px
    }

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin: 5px;
        border-radius: 50%;
        width: 32px;
      }
    }
  }

  button {
    margin: 10px;
  }
  hr{
    width: 25vw;
  }
  #user-compared-list{
    margin: 10px;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #user-compared-list >div{
    display: flex;
    align-items: center;
    img{
      margin: 10px;
      width: 50px;
      border-radius: 50%;
    }
  }

}
